<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
<ul>

<li> Title:{{ movie.title }} </li>
<li> Genre: {{ movie.genre }}</li>
<li> Plot:{{ movie.plot }} </li>

</ul>

      <a href = "/movies">
        Back to Movie Inventory
      </a>
  </body>
</html>